{{#regObject page="blog" section="2016/04/22/first_post" title="First Post"}}{{/regObject}}

{{#*inline "content"}}
<div>
    <h1>
        This came from handlebars
    </h1>
</div>

{{/inline}}

{{#*inline "meta"}}
	<meta name="description" content="first post 1" />
	<meta name="keywords" content="" />
{{/inline}}
