{{#regObject page="blog" section="2016/04/22/first_post" title="First Post"}}{{/regObject}}

<div class="container body-content docs blog">
    <div class="row">
        <div class="col-md-2">            
			{{> blogNavigation}}
		</div>
		<div class="col-sm-9 col-md-8 body">
			<h1>The First Post</h1>
<pre><code>var wat = true;
</code></pre>

		</div>
        <div class="hidden-xs col-sm-3 col-md-2">
            <nav id="docs-subnavbar">
                
                <ul class="nav">
                	
                </ul>
            <a class="twitter-share-button"
                href="https://twitter.com/share"
                data-text="New blog from Reece Bradley"
                data-via="Code"
                data-counturl="https://reece.io/blog/2016/04/22/first_post"
                data-count="vertical">
                Tweet
            </a>
            <div class="connect-widget"></div>
			</nav>
        </div>
	</div>
</div>
{{#section 'meta'}}
	<meta name="description" content="first post" />
	<meta name="keywords" content="" />
{{/section}}